
.title{
  font-size: 2.5em;
  font-family: sans-serif;
  color: #d93025;
  text-align: center;
}

.heading2{
  font-size: 1.5em;
  font-family: sans-serif;
  color: #358279;
}


p{
  font-size: 1.2em;
  color: #777;
  font-family: sans-serif;
}

.contents{
  margin-left: 20px;
}
